{{!-- retrieve wine names from the DB --}}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{wine.appid}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{wine.name}}</p>
          <p>
            <button
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>